@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import './reset.css';
#root {
  font-family: "Sunflower", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.loginWrap {
  position: relative;
  height: 100vh;
}
.loginWrap .backgroundWrap {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 1600px;
  background: url("/public/imgs/firstbg.png") no-repeat center;
  background-size: cover;
}
.loginWrap .gameboyWrap {
  position: absolute;
  width: 400px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 20px;
  transition: all 0.3s;
  background: url("/public/imgs/screenshot.png") no-repeat center;
  background-size: cover;
}
.loginWrap .gameboyWrap .screenWrap {
  position: relative;
  top: 65px;
  left: 48px;
  border-radius: 5px;
  width: calc(100% - 102px);
  overflow: hidden;
}
.loginWrap .gameboyWrap .screenWrap .form {
  height: 224px;
  background-color: #b1cca9;
  text-align: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}
.loginWrap .gameboyWrap .screenWrap .form > h2 {
  margin: 0;
}
.loginWrap .gameboyWrap .screenWrap .login {
  border: none;
  border-bottom: 2px solid #D1D1D4;
  background: none;
  padding: 10px;
  font-weight: 700;
  transition: 0.2s;
  width: 75%;
}
.loginWrap .gameboyWrap .screenWrap .login:active,
.loginWrap .gameboyWrap .screenWrap .login:focus,
.loginWrap .gameboyWrap .screenWrap .login:hover {
  outline: none;
  border-bottom-color: #447043;
}
.loginWrap .gameboyWrap .screenWrap .btn {
  border: none;
  width: 75%;
  background-color: #447043;
  color: white;
  padding: 15px 0;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.loginWrap .gameboyWrap .screenWrap:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-45deg) translateX(-300px);
  transition: none;
}
.loginWrap .gameboyWrap .screenWrap:hover:before {
  transform: skewX(-45deg) translateX(1200px);
  transition: all 0.5s ease-in-out;
}
.loginWrap .gameboyWrap .controlWrap {
  position: relative;
  display: inline-block;
  height: 200px;
  top: 20%;
  left: 44%;
}
.loginWrap .gameboyWrap .controlWrap .btn {
  position: relative;
  left: 16px;
  width: calc(100% - 94px);
  padding: 18px;
  font-family: "Sunflower", sans-serif;
  border: 0;
  border-radius: 10px;
  background: transparent;
  font-size: 28px;
  transition: all 0.3s;
}
.loginWrap .gameboyWrap .controlWrap .btn.login {
  position: relative;
  color: #D77BBA;
  margin-bottom: 48px;
}
.loginWrap .gameboyWrap .controlWrap .btn.login:before {
  content: "";
  transition: all 0.3s;
  position: absolute;
  top: 30%;
  left: 0px;
  width: 20px;
  height: 30px;
  background-color: transparent;
}
.loginWrap .gameboyWrap .controlWrap .btn.login:after {
  content: "";
  transition: all 0.3s;
  position: absolute;
  top: 26%;
  right: 0px;
  width: 20px;
  height: 30px;
  background-color: transparent;
}
.loginWrap .gameboyWrap .controlWrap .btn.signin {
  color: #000000;
}
.loginWrap .gameboyWrap .controlWrap .btn:hover.login {
  color: #fff;
  background-color: #D77BBA;
}
.loginWrap .gameboyWrap .controlWrap .btn:hover.login:before {
  content: "";
  position: absolute;
  top: 30%;
  left: -16px;
  width: 20px;
  height: 30px;
  background-color: #D77BBA;
}
.loginWrap .gameboyWrap .controlWrap .btn:hover.login:after {
  content: "";
  position: absolute;
  top: 26%;
  right: -18px;
  width: 20px;
  height: 30px;
  background-color: #D77BBA;
}
.loginWrap .gameboyWrap .controlWrap .btn:hover.signin {
  color: #fff;
  background-color: cornflowerblue;
}/*# sourceMappingURL=app.css.map */